[submodule "shared/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = shared/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shared/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = shared/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shared/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = shared/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shared/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = shared/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
