[user]
	name = rainx0r
	email = angelos.h@hotmail.com

[ghq]
	root=~/Documents/Repositories

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
